<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Durchsuche alle Folgen Gemischtes Hack von Felix Lobrecht und Tommi Schmitt. Ein Fanprojekt von Hackis für Hackis.">
    <title>Welche Folge? • Gemischtes Hack</title>
    <link rel="icon" type="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <style>
        .back-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: #d4d4d4;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 0.5rem;
            border: 2px solid #d4d4d4;
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <a class="back-button" href="/">Zurück zur Startseite</a>
    <div class="container">
        <h1>Gemischtes Hack Suche</h1>
        <p class="description-text">404 Diese Seite wurde nicht gefunden.</p>
    </div>
</div>
</body>
</html>